{
  "printWidth": 120,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "trailingCommas": {
    "array": true,
    "object": true,
    "function": false
  },
  "htmlWhitespaceSensitivity": "css"
}