name: markdown-lint
run-name: learning github action from workflow
on:
  push:
    branches:
      - main
      - develop
jobs:
  markdown-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Lint Markdown files
        run: |
          npx markdownlint-cli '**/*.md' \
          --config '.github/workflows/.markdownlint.json' \
          --ignore '.github/CONTRIBUTING.md' \
          --ignore '.github/CODE_OF_CONDUCT.md'\
          --ignore 'CHANGELOG.md'
